/target
#since aurora generates its data base like folders the best option is to git ignore the folder
*.db
*.json
*.wal
*.csv

# Ignore Windows drive letter directories that may be created accidentally
[A-Z]:/